main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,250px);
    gap: 1em;

}


section:nth-of-type(3n+3){
    border: 5px solid blue;
    border-radius:  2em 0  2em 0;
}

section:nth-of-type(2n+3){
    border: 5px solid red;
    border-radius:0 2em 0 2em;
}

section :nth-child(odd){
    background-color: #ccc;
    color: #000;

}

section :nth-child(even){
    background-color: #646;
    color: aqua;
}